:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --success: green;
    --error: red;
    --confirm: orange;

    --main-background: rgb(255, 227, 231);
    --polls-wrapper-background: orange;
    --poll-wrapper-background: rgb(232, 128, 0);
    --poll-options-wrapper-background: rgb(0, 167, 167);
    --poll-option-wrapper-background: cyan;
    --comments-wrapper: rgb(230, 77, 230);
    --comment-card-background-colour: violet;

    --max-height-image: 400px;

    --profile-image-dimensions: 200px;
    --poll-owner-image: 50px;
    --poll-card-user-image-dimensions: 50px;
    --comment-card-user-image-dimensions: 50px;
    --nav-button-dimensions: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

.message-box {
    width: 100%;
    height: 100px;
    display: grid;
    text-align: center;
    align-content: center;
    position: fixed;
    font-weight: bold;
    transition: bottom 0.2s ease;
}

.message-box.success {
    background-color: var(--success);
    color: white;
}

.message-box.error {
    background-color: var(--error);
    color: white;  
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

.confirm {
    color: var(--confirm);
}

textarea {
    width: 100%;
}

#logout-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#logo {
    background-color: cyan;
    font-size: 1.5rem;
    display: grid;
    position: sticky;
    top: 0;
}

#nav-button {
    background-color: lime;
    cursor: pointer;
    width: var(--nav-button-dimensions);
    height: var(--nav-button-dimensions);
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease;
    z-index: 2;
}

#nav-button > div {
    background-color: black;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
}

#nav-button > div:first-of-type {
    transform: translate(0%, -50%);
}

#nav-button > div:last-of-type {
    transform: translate(0%, -50%) rotate(90deg);
}

nav {
    background-color: lightgrey;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    display: grid;
    align-content: start;
    text-align: center;
    transition: left 0.3s ease;
}

main {
    background-color: var(--main-background);
}


#reset-password {
    cursor: pointer;
}

/************************ HOMEPAGE ************************/
.poll-cards-wrapper {
    background-color: var(--polls-wrapper-background);
    display: grid;
    gap: 20px;
}

.poll-card-wrapper {
    background-color: var(--poll-wrapper-background);
}

.poll-card-user-image-wrapper {
    width: 100%;
    max-width: var(--poll-card-user-image-dimensions);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden; 
}

.poll-card-user-image {
    height: 100%;
    object-fit: cover;  
}
/************************ HOMEPAGE ************************/



/************************ POLL PAGE ************************/
.poll-owner-image-wrapper {
    width: 100%;
    max-width: var(--poll-owner-image);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;  
}

.poll-owner-image {
    height: 100%;
    object-fit: cover;  
}

.poll-options-wrapper {
    background-color: var(--poll-options-wrapper-background);
    display: grid;
    gap: 20px;
}

.poll-option-wrapper {
    background-color: var(--poll-option-wrapper-background);
}

.comment-card-user-image-wrapper {
    width: 100%;
    max-width: var(--comment-card-user-image-dimensions);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;  
}

.comment-card-user-image {
    height: 100%;
    object-fit: cover;  
}

.like-comment-user-verified {
    cursor: pointer;
}
/************************ POLL PAGE ************************/


#input-options {
    display: grid;
    gap: 20px;
}

.comments-wrapper {
    background-color: var(--comments-wrapper);
    display: grid;
    gap: 20px;
}

.comment-card {
    background-color: var(--comment-card-background-colour);
}

#profile-image-wrapper {
    width: 100%;
    max-width: var(--profile-image-dimensions);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;  
}

#profile-image {
    height: 100%;
    object-fit: cover;  
}

footer {
    background-color: grey;
}

.links-section-heading {
    font-weight: bold;
}



@media screen and (min-width: 769px) {
    #nav-button {
        display: none;
    }

    nav {
        position: initial;
        width: initial;
        height: initial;
        left: initial;
        display: initial;
        align-content: initial;
        text-align: initial;
        margin-left: 20px;
    }
}