:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --success: green;
    --error: red;
    --confirm: orange;

    --main-background: rgb(255, 227, 231);
    --questions-wrapper-background: orange;
    --question-wrapper-background: rgb(232, 128, 0);
    --question-options-wrapper-background: rgb(0, 167, 167);
    --question-option-wrapper-background: cyan;
    --comments-wrapper: rgb(230, 77, 230);
    --comment-card-background-colour: violet;
}

* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

.confirm {
    color: var(--confirm);
}

textarea {
    width: 100%;
}

#logout-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#logo {
    background-color: cyan;
}

nav {
    background-color: lightgrey;
}

main {
    background-color: var(--main-background);
}

.questions-wrapper {
    background-color: var(--questions-wrapper-background);
    display: grid;
    gap: 20px;
}

.question-wrapper {
    background-color: var(--question-wrapper-background);
}

.question-options-wrapper {
    background-color: var(--question-options-wrapper-background);
    display: grid;
    gap: 20px;
}

.question-option-wrapper {
    background-color: var(--question-option-wrapper-background);
}

#input-options {
    display: grid;
    gap: 20px;
}

.comments-wrapper {
    background-color: var(--comments-wrapper);
    display: grid;
    gap: 20px;
}

.comment-card {
    background-color: var(--comment-card-background-colour);
}

footer {
    background-color: grey;
}
  