:root {  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --night: #0C0F0A;
    --eerie-black: #1C1E1A;
    --jet: #2B2D29;
    --outer-space: #494B48;
    --battleship-gray: #868785;
    --silver: #C3C3C2;
    --platinum: #E1E1E1;
    --anti-flash-white: #F0F0F0;
    --seasalt: #F8F8F8;
    --white: #FFFFFF;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;

    --success: green;
    --error: var(--rose);
    --confirm: var(--rose);

    --max-width: 1000px;
    --padding-left-and-right: 20px;
    --max-height-image: 400px;
    --profile-image-dimensions: 200px;
    --poll-owner-image: 40px;
    --nav-button-dimensions: 25px;

    background-color: var(--night);
    color: var(--night);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

p,
ul,
ol {
    line-height: 1.7rem;
}

.copy {
    display: grid;
    gap: 15px;
}

.copy-output {
    white-space: pre-wrap;
}

.truncate-text {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
    cursor: pointer;
}

section {
    max-width: var(--max-width);
    margin: auto;
    width: 100%;
    display: grid;
    gap: 15px;
}

textarea {
    resize: none;
    min-height: 100px;
    max-height: 200px;
    overflow-y: visible;
    resize: none;
}

.message-box {
    width: 100%;
    height: 100px;
    display: grid;
    text-align: center;
    align-content: center;
    position: fixed;
    font-weight: bold;
    transition: bottom 0.2s ease;
}

.message-box.success {
    background-color: var(--success);
    color: white;
}

.message-box.error {
    background-color: var(--error);
    color: white;  
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

.confirm {
    color: var(--confirm);
}

textarea {
    width: 100%;
}

#logo-wrapper {
    background: var(--night);
    position: sticky;
    top: 0;
    padding: 8px;
    display: grid;
    justify-content: center;
    /* text-align: center;
    padding: 5px; */
    
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#logo:link,
#logo:active,
#logo:visited {
    color: var(--white);
    text-decoration: none;
}

#logo:hover {
    text-decoration: underline;
}

#nav-button {
    cursor: pointer;
    width: var(--nav-button-dimensions);
    height: var(--nav-button-dimensions);
    position: fixed;
    top: 11px;
    right: var(--padding-left-and-right);
    transition: transform 0.3s ease;
    z-index: 2;
}

#nav-button > div {
    background-color: var(--rose);
    width: 100%;
    height: 6px;
    position: absolute;
    top: 50%;
}

#nav-button > div:first-of-type {
    transform: translate(0%, -50%);
}

#nav-button > div:last-of-type {
    transform: translate(0%, -50%) rotate(90deg);
}

#nav-main {
    background-color: var(--night);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    display: grid;
    gap: 20px;
    align-content: start;
    text-align: center;
    padding: var(--padding-left-and-right);
    font-size: 1.2rem;
    transition: left 0.3s ease;
}

#logout-button {
    cursor: pointer;
}

#logout-button,
#nav-main a:link,
#nav-main a:active,
#nav-main a:visited {
    color: var(--white);
    text-decoration: none;
}

#logout-button:hover,
#nav-main a:hover {
    color: var(--rose);
}

header {
    background-color: var(--white);
    padding: var(--padding-left-and-right) var(--padding-left-and-right) 0 var(--padding-left-and-right);
}

.nav-breadcrumbs {
    font-size: 0.9rem;
    line-height: 1.5rem
}

.nav-breadcrumbs a:link,
.nav-breadcrumbs a:active,
.nav-breadcrumbs a:visited {
    color: var(--night);
    text-decoration: underline;
}

.nav-breadcrumbs a:hover {
    color: var(--rose);
}

main {
    background-color: var(--white);
    padding: var(--padding-left-and-right) var(--padding-left-and-right) 40px var(--padding-left-and-right);
    display: grid;
    gap: 40px;
}

main a:link,
main a:active,
main a:visited {
    color: var(--rose);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

form {
    display: grid;
    gap: 20px;
}

form#sign-up,
form#login,
form#reset-password {
    max-width: 300px;
}

input,
textarea,
select {
    padding: 8px;
    border: 1px solid var(--platinum);
}

#input-options {
    display: grid;
    gap: 20px;
}

.input-option {
    display: grid;
    gap: 10px;
}

.option-label {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

button {
    border: 0px;
    padding: 5px 10px;
    border: 1px solid var(--silver);
    cursor: pointer;
}

.cards-wrapper-and-pagination {
    display: grid;
    gap: 10px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#reset-password {
    cursor: pointer;
}




/************************ POLL & COMMENT CARDS ************************/
.poll-cards-wrapper,
.comment-cards-wrapper {
    display: grid;
    gap: 20px;
}

.poll-card-wrapper,
.comment-card-wrapper {
    background-color: var(--anti-flash-white);
    padding: 10px;
    display: grid;
    grid-template-columns: 40px auto;
    gap: 10px;
}

.poll-card-profile-image-wrapper,
.comment-card-user-image-wrapper {
    width: 100%;
    max-width: var(--card-profile-image-dimensions);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden; 
}

.poll-card-user-image,
.comment-card-user-image {
    height: 100%;
    object-fit: cover;  
}

.poll-card-username,
.comment-card-username {
    font-size: 0.8rem;
}

.poll-card-username a:link,
.poll-card-username a:active,
.poll-card-username a:visited,
.comment-card-username a:link,
.comment-card-username a:active,
.comment-card-username a:visited {
    color: var(--night);
    text-decoration: underline;
}

.poll-card-username a:hover,
.comment-card-username a:hover {
    color: var(--rose);
}

.poll-card-details,
.comment-card-details {
    display: grid;
    gap: 10px;
}

.poll-card-title,
.comment-card-poll-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.poll-card-title a:link,
.poll-card-title a:active,
.poll-card-title a:visited,
.comment-card-poll-title:link,
.comment-card-poll-title:active,
.comment-card-poll-title:visited {
    color: var(--rose);
    text-decoration: none;
}

.poll-card-title a:hover,
.comment-card-poll-title:hover {
    text-decoration: underline;
}

.poll-card-created-date,
.comment-card-created-date {
    font-size: 0.8rem;
}

.poll-card-category a:link,
.poll-card-category a:active,
.poll-card-category a:visited {
    color: var(--night);
    text-decoration: underline;
}
/************************ POLL & COMMENT CARDS ************************/


/************************ POLL CARDS ************************/
.poll-card-category {
    font-size: 0.8rem;
}

.poll-card-category a:hover {
    color: var(--rose);
}
/************************ POLL CARDS ************************/



/************************ COMMENT CARDS ************************/
.like-comment-user-verified {
    cursor: pointer;
}

#delete-comment {
    display: grid;
    gap: 10px;
}

.show-more-button {
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--battleship-gray);
}

.show-more-button:hover {
    text-decoration: underline;
}
/************************ COMMENT CARDS ************************/



/************************ POLL PAGE ************************/
#poll-main-current {
    display: grid;
    gap:20px;
}

#poll-main-current-details {
    display: grid;
    gap: 10px;
}

#poll-main-editing {
    display: grid;
    gap: 20px;
}

#poll-description {
    font-size: 1.1rem;
}

.poll-category:link,
.poll-category:active,
.poll-category:visited {
    color: var(--night);
    text-decoration: underline;
}

.poll-category:hover {
    color: var(--rose);
}

#poll-owner-image-and-username {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.poll-owner-image-wrapper {
    width: 100%;
    max-width: var(--poll-owner-image);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;  
}

.poll-owner-image {
    height: 100%;
    object-fit: cover;  
}

.poll-owner-username:link,
.poll-owner-username:active,
.poll-owner-username:visited {
    color: var(--night);
    text-decoration: underline;
}

.poll-owner-username:hover {
    color: var(--rose);
}

.poll-options-wrapper {
    display: grid;
    gap: 30px;
}

.poll-option-wrapper {
    display: grid;
    gap: 5px;
}

.poll-option-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.poll-option-image {
    max-height: var(--max-height-image);
    object-fit: contain;
    object-position: 0%;
}

#input-options-and-add-option-button {
    display: grid;
    gap: 20px;
}

.vote-button {
    font-weight: bold;
    font-size: 0.9rem;
}

#delete-poll {
    display: grid;
    gap: 10px
}

#input-comment-error-field-and-button {
    display: grid;
    gap: 10px;
}
/************************ POLL PAGE ************************/



/************************ PROFILE PAGE ************************/
#profile-image-username-and-options-wrapper {
    display: grid;
    gap: 20px;
    justify-items: center;
}

#profile-image-wrapper {
    width: 100%;
    max-width: var(--profile-image-dimensions);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

#profile-image {
    height: 100%;
    object-fit: cover;
}

#profile-input-image-url-and-buttons {
    display: grid;
    gap: 10px;
    justify-items: center;
}

#change-password {
    display: grid;
    gap: 10px;
    justify-items: center;
}

#delete-account {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.profile.buttons {
    justify-content: center;
}

#email-verification-message-and-button {
    display: grid;
    gap: 10px;
}
/************************ PROFILE PAGE ************************/



/************************ FOOTER ************************/
#footer-wrapper {
    padding: var(--padding-left-and-right);
}

footer {
    max-width: var(--max-width);
    margin: auto;
    color: var(--white);
    display: grid;
    gap: 40px;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-links-wrapper {
    display: grid;
    gap: 40px;
}

.footer-links-section-wrapper {
    display: grid;
    gap: 20px;
}

.footer-links-section-heading {
    font-weight: bold;
}

#copyright {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
/************************ FOOTER ************************/



@media screen and (min-width: 769px) {
    #logo-wrapper {
        position: initial;
        top: initial;
    }

    #nav-button {
        display: none;
    }

    #nav-main {
        position: initial;
        width: initial;
        height: initial;
        left: initial;
        display: flex;
        flex-wrap: wrap;
        align-content: initial;
        justify-content: center;
        text-align: initial;
        padding: 0px var(--padding-left-and-right) 8px var(--padding-left-and-right);
        font-size: initial;
        gap: 40px;
    }

    #nav-about,
    #nav-contact {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    .poll-card-title {
        font-size: 1.2rem;
    }

    .poll-option-name {
        font-size: 1.3rem;
    }

    .footer-links-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 100px;
    }
}